<%- include('partials/header') -%>
<link rel="stylesheet" href="/css/style.css" />




  <!--NAV BAR-->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2">
    <div class="container">
      <a href="/" class="navbar-brand">Discover</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a href="profile" class="nav-link">Pending attractions</a>
              </li>
              <li class="nav-item">
                   <a href="searchAttraction" class="nav-link">Search for attraction</a>
              </li>
              <li class="nav-item">
                  <a href="addAttraction" class="nav-link">Add attraction</a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link">Log out</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>


<!--If there are no completed attractions, let the user know-->
<% if (posts.length == 0) { %>
    <h1 class="pt-5 text-center">No completed attractions</h1>
    <span class="pt-3 pb-3 text-center d-block">Once an attraction has been marked as complete, that attraction will be moved to this completed attractions page</span>
    <%} else { %>

      <!-- Else, display the completed attractions here-->

      <section class="orderDisplay p-0">
        <div class="container">
          <div class="row text-center g-0">
    
            <h1 class="pt-5">Completed Attractions </h1>

            <% for(let i = 0; i < posts.length; i++) {%>
          
                <div class="card" style="width: 35rem;">
                  <img src=<%= posts[i].image %> class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= posts[i].Attraction %></h5>
                    <p class="card-text"><%= posts[i].Address %></p>
                    <p class="card-text text-truncate"><%= posts[i].Description %></p>
      
                    <% if (posts[i].Complete === "true") { %>
                      <p id="orderComplete">Attraction Completed</p>
                      <%} else { %>
                      <p id="orderPending">Attraction Pending </p>
                      <% } %>
    
                      <a href="/post/<%= posts[i]._id%>"><button type="button" class="btn btn-info">More Details</button></a>      
     
                  </div>
                </div>
        
          <% } %>

          </div>
        </div>
      </section>
    <% } %>

<%- include('partials/footer') -%>